.header__location {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 6px 12px;
  margin-left: 15px;

  border: none;
  border-radius: 30px;
  background: rgb(146, 183, 232);
  color: var(--text-color);

  cursor: pointer;

  width: fit-content;
  max-width: 350px;

  &__icon {
    flex-shrink: 0;
    font-size: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__text {
    font-size: 13px;
    white-space: nowrap;
  }

  &__arrow {
    flex-shrink: 0;
    font-size: 8px;
  }

  &:hover {
    background-color: var(--background-color);
  }
}
