.header {
  width: 100%;
  background-color: #a8d0ed;
  height: 72px;
  .header-top {
    display: flex;
    align-items: center;
    .header-logo {
      img {
        width: 220px;
        height: auto;
        display: block;
      }
    }
  }
}
