.header__cart {
  margin-left: 10px;

  &-link {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 10px;

    &:hover {
      border-radius: 32px;
      background-color: var(--background-color);
      color: var(--text-color);
    }
  }

  &-icon {
    font-size: 20px;
  }

  &-text {
    font-size: 20px;
  }
}
