.search-bar {
  position: relative;
  flex: 1;
  padding-left: 30px;
  .search-icon {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);

    color: #777;
    font-size: 16px;
    z-index: 2;
  }

  .form-control {
    height: 40px;
    border-radius: 20px;
    padding-left: 50px;
    width: 50%;

    &:focus {
      box-shadow: none;
    }
  }
}
