.search-bar {
  position: relative;
  width: 40%;
  margin-left: 20px;
  button {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    background-color: transparent;
    border: none;
    padding: 0;

    .search-icon {
      color: #777;
      font-size: 16px;
    }
  }
  .form-control {
    height: 40px;
    border-radius: 20px;
    padding-left: 45px;
    width: 100%;

    &:focus {
      box-shadow: none;
    }
  }
}
